* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #a9d7e9;
    text-align: center;
}
    h1 {
        padding: 30px;
        font-size: 50px;
    }

    .container {
        margin: auto;
        width: 800px;
        @media (max-width: 833px) {
            width: 80%;
        }
        background-color: #f3f3f3;
        border-radius: 10px;
        padding: 30px 20px;

        p {
            font-size: 26px;
        }

        .form-rows {
            .row {
                margin: 20px 0;
                display: flex;
                flex-direction: row;
                
                .label {
                    flex: 1;
                    text-align: end;
                    padding: 10px;
                }

                .field {
                    flex: 1;
                    text-align: left;
                    padding: 10px;
                }

                .input-field {
                    height: 30px;
                    width: 280px;
                    border: 1px solid #c0c0c0;
                    border-radius: 4px;
                    padding: 5px;
                    @media (max-width: 833px) {
                        width: 80%;
                    }
                }

                .dropdown {
                    height: 35px;
                    width: 140px;
                    border: 1px solid #c0c0c0;
                    border-radius: 4px;
                    @media (max-width: 833px) {
                        width: 80%;
                    }
                }
            }
        }

        button {
            width: 100px;
            background-color: #6ba2ce;
            font-size: 1.5rem;
            color: #fff;
            padding: 5px 0;
            border: 0 solid;
            border-radius: 4px;
        }
    }

    


// @media (max-width: 833px) {
//     .container {
//       width: 70%;
//     }
  
//     .field {
//       width: 48%;
//     }
  
//     .input-field {
//       width: 80%;
//     }
  
//     .dropdown {
//       width: 90%;
//     }
// }

// @media (max-width: 520px) {
//     .container {
//       width: 80%;
//     }
  
//     .field {
//       width: 80%;
//       float: left;
//     }
//     .label {
//       width: 100%;
//       text-align: left;
//     }
  
//     .input-field {
//       width: 100%;
//     }
  
//     .dropdown {
//       width: 100%;
//     }
// }